@font-face {
  font-family: 'RubikFont';
  src: url('/src/assets/fonts/Rubik.ttf') format('woff2');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RubikFont', sans-serif;
}

body {
  background-color: #DBD8E3;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

h1 {
  color: #2A2438;
  font-size: 42px;
  text-align: center;
  margin-bottom: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
  transition: 0.4s;
}

.search-box input {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  padding: 16px;
  width: 100%;
}

.search-box:focus-within {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.search-results {
  color: #2A2438;
}

.results {
  max-width: 768px;
  margin: 0 auto;
}

.result {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #FFF;
  border-radius: 16px;
  transition: 0.4s;
}

.result:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.result h3 {
  color: #2A2438;
  font-size: 24px;
  margin-bottom: 16px;
}

.result p {
  color: #2A2438;
  font-size: 16px;
  margin-bottom: 16px;
}

.result a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #5C5470;
  color: #FFF;
  font-weight: 500;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.4s;
}

.result a:hover {
  background-color: #A84FFF;
}